body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f8fcff;
}
body #page-wrap {
  max-width: 1320px;
  height: 100%;
  margin: auto;
}
body header #menucontainer {
  background-color: #03223e;
  min-height: 50px;
}