/* barlow-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "BarlowCondensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-condensed-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "BarlowBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/barlow-condensed-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f8fcff;
  font-family: "BarlowCondensed";
  font-size: 16px;
  color: #062b4d;
}
body h1, body h2, body h3 {
  font-family: "BarlowBold";
}
body #page-wrap {
  max-width: 1320px;
  height: 100%;
  margin: auto;
}
body a {
  color: #062b4d;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
body header .contact .whatsapp {
  padding-left: 20px;
}
body header .contact .whatsapp:before {
  content: " ";
  display: inline-block;
  background-image: url("../images/icons/whatsapp-glyph-black.svg");
  background-size: 17.1px 17.1px;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  vertical-align: text-bottom;
  margin-right: 20px;
}
body header .contact .clock {
  margin-right: 20px;
}
body header .contact .clock:before {
  content: " ";
  display: inline-block;
  background-image: url("../images/icons/clock.svg");
  background-size: 17.1px 17.1px;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  vertical-align: text-bottom;
  margin-right: 5px;
}

#menucontainer {
  background-color: #03223e;
  min-height: 50px;
}
#menucontainer ul {
  display: flex;
  list-style: none;
  padding: 0;
}
#menucontainer ul li {
  padding: 0;
}
#menucontainer ul li a {
  color: white;
  font-size: 17px;
  padding: 30px 45px;
  padding-right: 65px;
  display: block;
}
#menucontainer ul li a:before {
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  /* vertical-align: sub; */
  margin-right: 10px;
  line-height: 26px;
  vertical-align: middle;
  position: relative;
  top: 3px;
  content: " ";
  display: inline-block;
}
#menucontainer ul li.car a:before {
  background-image: url("../images/icons/fahrzeuge_icon.svg");
  background-size: 25.8px 14.9px;
}
#menucontainer ul li.service a:before {
  background-image: url("../images/icons/Service_icon.svg");
  background-size: 25.8px 14.9px;
}
#menucontainer ul li.felge a:before {
  background-image: url("../images/icons/felge.svg");
  background-size: 25.8px 14.9px;
}
#menucontainer ul li.beschichtung a:before {
  background-image: url("../images/icons/fahrzeuge_icon.svg");
  background-size: 25.8px 14.9px;
}
#menucontainer ul li.aufbereitung a:before {
  background-image: url("../images/icons/aufbereitung_icon.svg");
  background-size: 25.8px 14.9px;
}
#menucontainer ul li.kontakt a:before {
  background-image: url("../images/icons/Kontakt_icon.svg");
  background-size: 25.8px 14.9px;
}
#menucontainer ul li.orange a {
  border-bottom: 8px solid #e8a422;
}
#menucontainer ul li.green a {
  border-bottom: 8px solid #89b459;
}
#menucontainer ul li.red a {
  border-bottom: 8px solid #ea612e;
}
#menucontainer ul li.blue a {
  border-bottom: 8px solid #245861;
}

.posts-grid {
  display: grid;
  font-size: 20px;
  padding: 25px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 40px;
}
@media (max-width: 1100px) {
  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .posts-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.posts-grid .single-post {
  min-height: 100px;
  box-shadow: 0 33px 36px 0 rgba(93, 108, 123, 0.08);
  background-color: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
}
.posts-grid .single-post:nth-child(3n) {
  margin-right: 0;
}
@media (max-width: 1100px) {
  .posts-grid .single-post {
    margin-right: 0;
  }
  .posts-grid .single-post:nth-child(1n) {
    margin-right: 20px;
  }
  .posts-grid .single-post:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .posts-grid .single-post {
    margin-right: 0 !important;
  }
}

#about-banner {
  min-height: 100px;
  box-shadow: 0 33px 36px 0 rgba(93, 108, 123, 0.08);
}