/* barlow-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "BarlowCondensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-condensed-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "BarlowBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/barlow-condensed-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f8fcff;
  font-family: "BarlowCondensed";
  font-size: 16px;
  color: #062b4d;
}
body .bg-blue {
  background-color: rgba(3, 34, 62, 0.3);
}
body h1, body h2, body h3, body h4 {
  font-family: "BarlowBold";
}
body h1.topline:before, body h2.topline:before, body h3.topline:before, body h4.topline:before {
  content: " ";
  width: 35px;
  height: 5px;
  margin: 7.8px 16.3px 30.2px 0;
  background-color: #e8a422;
  display: block;
}
body h1.white, body h2.white, body h3.white, body h4.white {
  color: white;
}
body h1.fw500, body h2.fw500, body h3.fw500, body h4.fw500 {
  font-weight: 500;
  font-family: "BarlowCondensed";
}
body h1.fs16, body h2.fs16, body h3.fs16, body h4.fs16 {
  font-size: 16px;
}
body h1.fs23, body h2.fs23, body h3.fs23, body h4.fs23 {
  font-size: 23px;
}
body h1.fs18, body h2.fs18, body h3.fs18, body h4.fs18 {
  font-size: 18px;
}
body h1.fs36, body h2.fs36, body h3.fs36, body h4.fs36 {
  font-size: 36px;
}
body #page-wrap {
  max-width: 1320px;
  height: 100%;
  margin: auto;
}
body a {
  color: #062b4d;
  text-decoration: underline;
}
body a:hover {
  text-decoration: none;
}
@media (max-width: 1200px) {
  body header #header-inner-container {
    background-color: #03223e;
    max-width: 100%;
  }
}
body header .mobile {
  display: none;
}
@media (max-width: 1200px) {
  body header .mobile {
    display: block !important;
  }
}
@media (max-width: 1200px) {
  body header .contact {
    display: none !important;
  }
}
body header .contact .whatsapp {
  padding-left: 20px;
}
body header .contact .whatsapp:before {
  content: " ";
  display: inline-block;
  background-image: url("../images/icons/whatsapp-glyph-black.svg");
  background-size: 17.1px 17.1px;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  vertical-align: text-bottom;
  margin-right: 20px;
}
body header .contact .clock {
  margin-right: 20px;
}
body header .contact .clock:before {
  content: " ";
  display: inline-block;
  background-image: url("../images/icons/clock.svg");
  background-size: 17.1px 17.1px;
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  vertical-align: text-bottom;
  margin-right: 5px;
}
body header #headerbackground {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -20px;
}
body header #headerbackground .headercontent {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 68%, #000);
  padding-top: 200px;
}

#menucontainer {
  background-color: #03223e;
  min-height: 50px;
}
@media (max-width: 1200px) {
  #menucontainer .container {
    max-width: 100%;
    padding: 0;
  }
}
#menucontainer ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  #menucontainer ul {
    flex-direction: column;
    max-width: 100%;
    height: 1px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  #menucontainer ul.open {
    height: 100vh;
    overflow: auto;
  }
}
#menucontainer ul li {
  padding: 0;
}
#menucontainer ul li a {
  color: white;
  font-size: 17px;
  padding: 30px 45px;
  padding-right: 65px;
  display: block;
  text-decoration: none;
}
#menucontainer ul li a:before {
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  /* vertical-align: sub; */
  margin-right: 10px;
  line-height: 26px;
  vertical-align: middle;
  position: relative;
  top: 3px;
  content: " ";
  display: inline-block;
}
#menucontainer ul li a:hover {
  text-decoration: none;
}
#menucontainer ul li.car a:before {
  background-image: url("../images/icons/fahrzeuge_icon.svg");
  background-size: 25.8px 14.9px;
  transition: all 0.3s ease-in-out;
}
#menucontainer ul li.car:hover a:before, #menucontainer ul li.car.current-menu-item a:before {
  background-image: url("../images/icons/fahrzeuge_icon_white.svg");
  transition: all 0.3s ease-in-out;
}
#menucontainer ul li.service a:before {
  background-image: url("../images/icons/Service_icon.svg");
  background-size: 25.8px 14.9px;
}
#menucontainer ul li.service:hover a:before {
  background-image: url("../images/icons/Service_icon_white.svg");
  transition: all 0.3s ease-in-out;
}
#menucontainer ul li.felge a:before {
  background-image: url("../images/icons/felge.svg");
  background-size: 25.8px 14.9px;
}
#menucontainer ul li.felge:hover a:before {
  background-image: url("../images/icons/felge_icon_white.svg");
  transition: all 0.3s ease-in-out;
}
#menucontainer ul li.beschichtung a:before {
  background-image: url("../images/icons/Beschichtung_icon.svg");
  background-size: 25.8px 14.9px;
}
#menucontainer ul li.beschichtung:hover a:before {
  background-image: url("../images/icons/Beschichtung_icon_white.svg");
  transition: all 0.3s ease-in-out;
}
#menucontainer ul li.aufbereitung a:before {
  background-image: url("../images/icons/aufbereitung_icon.svg");
  background-size: 25.8px 14.9px;
}
#menucontainer ul li.aufbereitung:hover a:before {
  background-image: url("../images/icons/aufbereitung_icon_white.svg");
  transition: all 0.3s ease-in-out;
}
#menucontainer ul li.kontakt a:before {
  background-image: url("../images/icons/Kontakt_icon.svg");
  background-size: 25.8px 14.9px;
}
#menucontainer ul li.kontakt:hover a:before {
  background-image: url("../images/icons/Kontakt_icon_white.svg");
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1201px) {
  #menucontainer ul li.orange {
    background-size: 100% 1px;
    background-image: repeating-linear-gradient(#e8a422, #e8a422 22px, #e8a422 22px, #e8a422 44px);
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 0.3s ease-in-out;
  }
  #menucontainer ul li.orange a {
    border-bottom: 8px solid #e8a422;
  }
  #menucontainer ul li.orange:hover {
    background-size: 100% 100%;
  }
  #menucontainer ul li.orange.current-menu-item {
    background-size: 100% 100%;
  }
  #menucontainer ul li.green {
    background-size: 100% 1px;
    background-image: repeating-linear-gradient(#89b459, #89b459 22px, #89b459 22px, #89b459 44px);
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 0.3s ease-in-out;
  }
  #menucontainer ul li.green a {
    border-bottom: 8px solid #89b459;
  }
  #menucontainer ul li.green:hover {
    background-size: 100% 100%;
  }
  #menucontainer ul li.red {
    background-size: 100% 1px;
    background-image: repeating-linear-gradient(#ea612e, #ea612e 22px, #ea612e 22px, #ea612e 44px);
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 0.3s ease-in-out;
  }
  #menucontainer ul li.red a {
    border-bottom: 8px solid #ea612e;
  }
  #menucontainer ul li.red:hover {
    background-size: 100% 100%;
  }
  #menucontainer ul li.blue {
    background-size: 100% 1px;
    background-image: repeating-linear-gradient(#245861, #245861 22px, #245861 22px, #245861 44px);
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 0.3s ease-in-out;
  }
  #menucontainer ul li.blue a {
    border-bottom: 8px solid #245861;
  }
  #menucontainer ul li.blue:hover {
    background-size: 100% 100%;
  }
}
@media (max-width: 1200px) {
  #menucontainer ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  }
}

#menuopener {
  width: 40px;
  height: 40px;
}
#menuopener #nav-icon {
  width: 40px;
  height: 30px;
  margin-top: -10px;
  cursor: pointer;
}
#menuopener #nav-icon span {
  position: absolute;
  text-align: end;
  background-color: #fff;
  width: 40px;
  height: 3px;
  margin-bottom: 8px;
  display: block;
  transition: all 0.3s ease-in-out;
}
#menuopener #nav-icon span:nth-child(1) {
  margin-top: 0;
}
#menuopener #nav-icon span:nth-child(2) {
  width: 30px;
  margin-left: 10px;
  margin-top: 24px;
}
#menuopener #nav-icon span:nth-child(3) {
  margin-top: 48px;
}
#menuopener #nav-icon.open span:nth-child(1) {
  margin-top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#menuopener #nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#menuopener #nav-icon.open span:nth-child(3) {
  margin-top: 20px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.two-columns {
  column-count: 2;
}
.two-columns p {
  font-size: 18px;
}

.posts-grid {
  display: grid;
  font-size: 20px;
  padding: 25px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 40px;
  row-gap: 20px;
}
.posts-grid.grid-four {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1100px) {
  .posts-grid.grid-four {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .posts-grid.grid-four {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1100px) {
  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .posts-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.posts-grid .single-post {
  min-height: 100px;
  box-shadow: 0 33px 36px 0 rgba(93, 108, 123, 0.08);
  background-color: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
}
.posts-grid .single-post a {
  text-decoration: none;
}
.posts-grid .single-post a:hover {
  text-decoration: underline;
}
.posts-grid .single-post:nth-child(3n) {
  margin-right: 0;
}
@media (max-width: 1100px) {
  .posts-grid .single-post {
    margin-right: 0;
  }
  .posts-grid .single-post:nth-child(1n) {
    margin-right: 20px;
  }
  .posts-grid .single-post:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .posts-grid .single-post {
    margin-right: 0 !important;
  }
}
.posts-grid .single-post .boximage {
  height: 100px;
}
.posts-grid .single-post .boxicon {
  height: 65px;
  width: auto;
  max-width: 60px;
}
.posts-grid .single-post .sm-icon {
  margin-right: 15px;
}
.posts-grid .single-post .single-post-image {
  width: 100%;
  height: 240px;
  background-color: #f7f8f8;
}
.posts-grid .single-post .single-post-image.bg-contain {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.posts-grid .single-post .single-post-image.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.posts-grid .single-post .single-post-content {
  width: 100%;
  height: 240px;
  background-color: #fff;
}
.posts-grid .single-post .single-post-content.subpage-content {
  height: auto;
}
.posts-grid .single-post .single-post-content.subpage-content .teaser {
  height: 140px;
}
.posts-grid .single-post .imagecontainer {
  width: 100%;
  height: 240px;
  background-color: #f7f8f8;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in-out;
}
.posts-grid .single-post .imagecontainer:hover {
  transition: all 0.3s ease-in-out;
  background-size: 105%;
}
.posts-grid.grid-four .single-post:nth-child(3n) {
  margin-right: 20px;
}
.posts-grid.grid-four .single-post:nth-child(4n) {
  margin-right: 0px;
}

#about-banner {
  min-height: 100px;
  box-shadow: 0 33px 36px 0 rgba(93, 108, 123, 0.08);
}

#partner-banner {
  height: 500px;
  box-shadow: 0 33px 36px 0 rgba(93, 108, 123, 0.08);
  background-image: url("../images/yellow_sidebar.webp");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner-paragraph {
  font-size: 16px;
  font-weight: normal;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.32px;
  text-align: left;
  color: #062b4d;
  margin-top: 25px;
}

.image-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.banner-button {
  font-family: BarlowBold;
  font-size: 18px;
  font-weight: 600;
  font-stretch: condensed;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.36px;
  text-decoration: underline;
  color: #03223e;
  margin-top: 25px;
}

.content-40 {
  width: 40%;
}

.content-60 {
  width: 60%;
}

.badgeline {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #062b4d;
}
.badgeline:before {
  content: " ";
  width: 35px;
  height: 5px;
  margin: 7.8px 16.3px 30.2px 0;
  background-color: #e8a422;
  display: inline-block;
  vertical-align: text-top;
}

h2.content-h2 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
h2.content-h2:after {
  content: " ";
  width: 35px;
  height: 5px;
  margin: 7.8px 16.3px 30.2px 0;
  background-color: #e8a422;
  display: block;
  margin: auto;
}
h2.fs40 {
  font-size: 40px;
}
@media (max-width: 768px) {
  h2.fs40 {
    font-size: 30px;
  }
}
h2.kunde {
  font-size: 16px;
  font-family: "BarlowBold";
  text-align: left;
}

.fs16 * {
  font-size: 16px;
}

#servicebar {
  box-shadow: 0 33px 36px 0 rgba(93, 108, 123, 0.08);
  background: white;
  padding: 100px;
}
#servicebar img {
  height: 41px;
  width: auto;
}

.staricon {
  margin-right: 5px;
}

/* external stuff*/
.mobile-de-plugin {
  width: 100% !important;
}
.mobile-de-plugin .ads .carItem {
  grid-template-rows: 252px 165px auto 20px auto !important;
}
.mobile-de-plugin .ads .carItem .priceRow {
  position: relative;
  top: 80px;
}
.mobile-de-plugin .ads .carItem .priceRow .price {
  color: #03223e !important;
  font-family: BarlowBold !important;
}
.mobile-de-plugin .ads .carItem h2 a {
  font-family: BarlowCondensed !important;
  font-size: 20px;
  letter-spacing: 0.4px;
  text-align: left;
  color: #03223e;
}
.mobile-de-plugin .ads .carItem h2 a b {
  font-family: BarlowBold !important;
}
.mobile-de-plugin .ads .carItem .moreDetails {
  position: relative;
  top: -120px;
  margin: 10px;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-family: BarlowCondensed !important;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 10px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.mobile-de-plugin .ads .carItem .moreDetails:before {
  content: "Antrieb: ";
  color: rgba(0, 0, 0, 0.6);
  margin-right: 20px;
  display: block;
}
.mobile-de-plugin .ads .carItem .emissionsDetails {
  position: relative;
  top: -80px;
  margin: 10px;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-family: BarlowCondensed !important;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 10px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.mobile-de-plugin .ads .carItem .emissionsDetails:before {
  content: "Verbrauch: ";
  color: rgba(0, 0, 0, 0.6);
  margin-right: 20px;
  display: block;
}

#wehiko-app {
  background-color: #fff;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  margin-top: -20px;
  margin-bottom: 40px;
  box-shadow: 0 33px 36px 0 rgba(93, 108, 123, 0.08);
}
#wehiko-app:after {
  content: " ";
  display: block;
  background: transparent;
  height: 20px;
}

#wehiko-app input {
  height: 40px;
  margin: 0 0 0 10px;
  box-sizing: border-box;
  outline: none;
  border: 0;
  text-overflow: ellipsis;
  width: 100%;
  padding: 15px !important;
  background-color: #fff;
  max-width: 100%;
}

div[class*=_dropdown_] {
  border: 1px solid #000 !important;
  border-radius: 0 !important;
  padding: 10px 15px !important;
  color: rgba(0, 0, 0, 0.5) !important;
  margin-bottom: 30px;
}

div[class*=_fineGrain_12ibt_29] {
  column-gap: 20px !important;
}