input {
    border-radius: 0 !important;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], textarea {
    padding:20px !important;
}

.frm_primary_label {
    font-size: 20px !important;
    font-weight: 600 !important;
}


*::-webkit-input-placeholder, *::placeholder {
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.5) !important;
}

.frm_submit {
    width: 100% !important;
    display: flex !important;
    justify-content: flex-end;

    .frm_button_submit {
        transition: all 0.3s ease-in-out !important;
        border-radius: 0 !important;
        border: none !important;
        background-color: rgb(3, 34, 62) !important;
        color:white !important;
        padding: 20px 60px !important;
        text-transform: uppercase !important;
        font-size: 16px !important;
        font-weight: 600 !important;

        @media(max-width:992px){
            padding: 15px 30px !important;
        }
        &:hover {
            background-color: rgba(3, 34, 62,.8) !important;
        }
    }
}