body {
    
    width:100%;
    height:100%;
    overflow-x: hidden;
    background-color: $bodybg;
    font-family: 'BarlowCondensed';
    font-size: 16px;
    color: $copyblue;

    h1, h2, h3 {
        font-family: 'BarlowBold';
    }



    #page-wrap {
        max-width: 1320px;
        height:100%;
        margin: auto;
    }

    a {
        color: $copyblue;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    header {
        
        .contact {
       
            .whatsapp{
                padding-left:20px;
                &:before{
                    content:' ';
                    display: inline-block;
                    background-image: url('../images/icons/whatsapp-glyph-black.svg');
                    background-size: 17.1px 17.1px;
                    background-repeat: no-repeat;
                    width:17px;
                    height:17px;
                    vertical-align: text-bottom;
                    margin-right: 20px;
                }
            }

            .clock {
                margin-right: 20px;
                &:before{
                    content:' ';
                    display: inline-block;
                    background-image: url('../images/icons/clock.svg');
                    background-size: 17.1px 17.1px;
                    background-repeat: no-repeat;
                    width:17px;
                    height:17px;
                    vertical-align: text-bottom;
                    margin-right: 5px;
                }
            }
        }
    }

}
