#menucontainer {
    background-color: #03223e; 
    min-height: 50px;

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        li {
            padding:0;

            a{
                color:white;
                font-size: 17px;
                padding:30px 45px;
                display: block;
            }

            &.car {
                a{
                    &:before{
                        content:' ';
                        display: inline-block;
                        background-image: url('../images/icons/fahrzeuge_icon.svg');
                        background-size: 25.8px 14.9px;
                        background-repeat: no-repeat;
                        width: 26px;
                        height: 26px;
                        /* vertical-align: sub; */
                        margin-right: 10px;
                        line-height: 26px;
                        vertical-align: middle;
                        position: relative;
                        top: 3px;                    
                    }
                }
            }

            &.orange {
                a{
                    border-bottom:8px solid $orange;
                }
            }
            
            
        }
    }
}
