#servicebar {
    box-shadow: 0 33px 36px 0 rgba(93, 108, 123, 0.08);
    background: white;
    padding:100px;
    
    img {
        height: 41px;
        width: auto;;
    }
}

.staricon {
    margin-right: 5px;
}

#yellowbanner {
    background-image: url('../images/yellow_banner.webp');
    min-height: 100px;
}

#inforow{
    padding:40px 150px;
}

